<html>
  <head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    <title>Tyler Geery</title>
  </head>    

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="..\index.html"><b>TG</b></a>
    </div>
    <div class="collapse navbar-collapse navbar-right">
      <ul class="nav navbar-nav">
        <li><a href="experience.html">Experience<span class="sr-only"></span></a></li>
        <li><a href="projects.html">Projects</a></li>
        <li class="active"><a href="contact.html">Contact</a></li>
        <li><a href="https://www.linkedin.com/tgeery"><i class="fa fa-1x fa-inverse fa-linkedin"></i></a></li>
        <li><a href="https://www.twitter.com/tygeery"><i class="fa fa-1x fa-inverse fa-twitter"></i></a></li>
        </i></a></li> 
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<body>
  <div class="container" style="text-align: center">
    <h1><u>Contact Information</u></h1>
    <p>Feel free to email me!</p>
    <i class="fa fa-1x fa-envelope">: tsg7741@gmail.com</i>
  </div>
  <div class="container">
    <div id="leftStuff" style="text-align: left"> 
      
    </div>
  </div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>

</html>